<!--
=========================================================
* Soft UI Dashboard - v1.0.7
=========================================================

* Product Page: https://www.creative-tim.com/product/soft-ui-dashboard
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>
        <%=data.dashName%> Dashboard
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="../assets/css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
    <!-- Nepcha Analytics (nepcha.com) -->
    <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->



    <!-- google chart -->


</head>

<body class=" bg-gray-100 p-4">
    <div class="row mt-3 ps-sm-7 ps-xl-0 gap-0">
        <!-- card 1 -->
        <div class="col-xl-4 col-sm-5   mb-4">
            <div class="card py-4 ">
                <div class="card-body  ">
                    <div class="row">
                        <div class="col-7 px-2">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold"> <%=data.name1%>
                                </p>
                                <h5 class="font-weight-bolder mb-0">

                                    <span class="text-success text-sm font-weight-bolder"></span>
                                </h5>
                            </div>
                        </div>
                        <div class="col text-end mt-2">
                            <div class="bg-gradient-primary shadow text-center border-radius-md">
                                <!-- <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i> -->

                                <h5 class="font-weight-bolder p-2 mb-0" style="color: white;">
                                    <%=millify(data.card1, {locales: "en-IN", space:true,precision:2})%>

                                        <span class="text-success text-sm  font-weight-bolder"
                                            style="font-style: white;"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--card 2 --> 
        <div class="col-xl-4 col-sm-5   mb-4">
            <div class="card py-4">
                <div class="card-body  ">
                    <div class="row">
                        <div class="col-7 px-2">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold"><%=data.name2%></p>
                                <h5 class="font-weight-bolder mb-0">

                                    <span class="text-success text-sm font-weight-bolder"></span>
                                </h5>
                            </div>
                        </div>
                        <div class="col text-end mt-2">
                            <div class="bg-gradient-primary shadow text-center border-radius-md">
                                <!-- <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i> -->

                                <h5 class="font-weight-bolder p-2 mb-0" style="color: white;">
                                    <%= millify(data.card2, {locales: "en-IN", space:true,precision:2}) %>

                                        <span class="text-success text-sm  font-weight-bolder"
                                            style="font-style: white;"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card 3 -->
        <div class="col-xl-4  col-sm-5   mb-4">
            <div class="card py-4">
                <div class="card-body  ">
                    <div class="row">
                        <div class="col-7 px-2">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold"><%=data.name3%>
                                </p>
                                <h5 class="font-weight-bolder mb-0">

                                    <span class="text-success text-sm font-weight-bolder"></span>
                                </h5>
                            </div>
                        </div>
                        <div class="col text-end mt-2">
                            <div class="bg-gradient-primary shadow text-center border-radius-md">
                                <!-- <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i> -->

                                <h5 class="font-weight-bolder p-2 mb-0" style="color: white;">
                                    <%=millify(data.card3, {locales: "en-IN", space:true,precision:2})%>

                                        <span class="text-success text-sm  font-weight-bolder"
                                            style="font-style: white;"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card 4 -->
        <div class="col-xl-4 col-sm-5   mb-4">
            <div class="card py-4">
                <div class="card-body  ">
                    <div class="row">
                        <div class="col-7 px-2">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold"><%=data.name4%>
                                </p>
                                <h5 class="font-weight-bolder mb-0">

                                    <span class="text-success text-sm font-weight-bolder"></span>
                                </h5>
                            </div>
                        </div>
                        <div class="col text-end mt-2">
                            <div class="bg-gradient-primary shadow text-center border-radius-md">
                                <!-- <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i> -->

                                <h5 class="font-weight-bolder p-2 mb-0" style="color: white;">
                                    <%=millify(data.card4, {locales: "en-IN", space:true,precision:2})%>

                                        <span class="text-success text-sm  font-weight-bolder"
                                            style="font-style: white;"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card 5 -->
        <div class="col-xl-4 col-sm-5   mb-4">
            <div class="card py-4">
                <div class="card-body  ">
                    <div class="row">
                        <div class="col-7 px-2">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold"><%=data.name5%>
                                </p>
                                <h5 class="font-weight-bolder mb-0">

                                    <span class="text-success text-sm font-weight-bolder"></span>
                                </h5>
                            </div>
                        </div>
                        <div class="col text-end mt-2">
                            <div class="bg-gradient-primary shadow text-center border-radius-md">
                                <!-- <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i> -->

                                <h5 class="font-weight-bolder p-2 mb-0" style="color: white;">
                                    <%=millify(data.card5, {locales: "en-IN", space:true,precision:2})%>

                                        <span class="text-success text-sm  font-weight-bolder"
                                            style="font-style: white;"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card 6 -->
        <div class="col-xl-4 col-sm-5   mb-4">
            <div class="card py-4">
                <div class="card-body  ">
                    <div class="row">
                        <div class="col-7 px-2">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold"><%=data.name6%>
                                </p>
                                <h5 class="font-weight-bolder mb-0">

                                    <span class="text-success text-sm font-weight-bolder"></span>
                                </h5>
                            </div>
                        </div>
                        <div class="col text-end mt-2">
                            <div class="bg-gradient-primary shadow text-center border-radius-md">
                                <!-- <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i> -->

                                <h5 class="font-weight-bolder p-2 mb-0" style="color: white;">
                                    <%=millify(data.card6, {locales: "en-IN", space:true,precision:2})%>

                                        <span class="text-success text-sm  font-weight-bolder"
                                            style="font-style: white;"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card 7 -->
        <div class="col-xl-4 col-sm-5   mb-4">
            <div class="card py-4">
                <div class="card-body  ">
                    <div class="row">
                        <div class="col-7 px-2">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold"><%=data.name7%>
                                </p>
                                <h5 class="font-weight-bolder mb-0">

                                    <span class="text-success text-sm font-weight-bolder"></span>
                                </h5>
                            </div>
                        </div>
                        <div class="col text-end mt-2">
                            <div class="bg-gradient-primary shadow text-center border-radius-md">
                                <!-- <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i> -->

                                <h5 class="font-weight-bolder p-2 mb-0" style="color: white;">
                                    <%=millify(data.card7, {locales: "en-IN", space:true,precision:2})%>

                                        <span class="text-success text-sm  font-weight-bolder"
                                            style="font-style: white;"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- dash 8 -->
        <div class="col-xl-4 col-sm-5   mb-4">
            <div class="card py-4">
                <div class="card-body  ">
                    <div class="row">
                        <div class="col-7 px-2">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold"><%=data.name8%>
                                </p>
                                <h5 class="font-weight-bolder mb-0">

                                    <span class="text-success text-sm font-weight-bolder"></span>
                                </h5>
                            </div>
                        </div>
                        <div class="col text-end mt-2">
                            <div class="bg-gradient-primary shadow text-center border-radius-md">
                                <!-- <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i> -->

                                <h5 class="font-weight-bolder p-2 mb-0" style="color: white;">
                                    <%=millify(data.card8, {locales: "en-IN", space:true,precision:2})%>

                                        <span class="text-success text-sm  font-weight-bolder"
                                            style="font-style: white;"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card 9 -->
        <div class="col-xl-4 col-sm-5   mb-4">
            <div class="card py-4">
                <div class="card-body  ">
                    <div class="row">
                        <div class="col-7 px-2">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold"><%=data.name9%>
                                </p>
                                <h5 class="font-weight-bolder mb-0">

                                    <span class="text-success text-sm font-weight-bolder"></span>
                                </h5>
                            </div>
                        </div>
                        <div class="col text-end mt-2">
                            <div class="bg-gradient-primary shadow text-center border-radius-md">
                                <!-- <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i> -->

                                <h5 class="font-weight-bolder p-2 mb-0" style="color: white;">
                                    <%=millify(data.card9, {locales: "en-IN", space:true,precision:2})%>

                                        <span class="text-success text-sm  font-weight-bolder"
                                            style="font-style: white;"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- card 10  -->
        <div class="col-xl-4 col-sm-5   mb-4">
            <div class="card py-4">
                <div class="card-body  ">
                    <div class="row">
                        <div class="col-7 px-2">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold"><%=data.name10%>
                                </p>
                                <h5 class="font-weight-bolder mb-0">

                                    <span class="text-success text-sm font-weight-bolder"></span>
                                </h5>
                            </div>
                        </div>
                        <div class="col text-end mt-2">
                            <div class="bg-gradient-primary shadow text-center border-radius-md">
                                <!-- <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i> -->

                                <h5 class="font-weight-bolder p-2 mb-0" style="color: white;">
                                    <%=millify(data.card10, {locales: "en-IN", space:true,precision:2})%>

                                        <span class="text-success text-sm  font-weight-bolder"
                                            style="font-style: white;"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card 11 -->
  
        <div class="col-xl-4 col-sm-5   mb-4">
            <div class="card py-4">
                <div class="card-body  ">
                    <div class="row">
                        <div class="col-7 px-2">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold"><%=data.name11%>
                                </p>
                                <h5 class="font-weight-bolder mb-0">

                                    <span class="text-success text-sm font-weight-bolder"></span>
                                </h5>
                            </div>
                        </div>
                        <div class="col text-end mt-2">
                            <div class="bg-gradient-primary shadow text-center border-radius-md">
                                <!-- <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i> -->

                                <h5 class="font-weight-bolder p-2 mb-0" style="color: white;">
                                    <%=millify(data.card11, {locales: "en-IN", space:true,precision:2})%>

                                        <span class="text-success text-sm  font-weight-bolder"
                                            style="font-style: white;"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- card 12 -->
        <div class="col-xl-4 col-sm-5   mb-4">
            <div class="card py-4">
                <div class="card-body  ">
                    <div class="row">
                        <div class="col-7 px-2">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold"><%=data.name12%>
                                </p>
                                <h5 class="font-weight-bolder mb-0">

                                    <span class="text-success text-sm font-weight-bolder"></span>
                                </h5>
                            </div>
                        </div>
                        <div class="col text-end mt-2">
                            <div class="bg-gradient-primary shadow text-center border-radius-md">
                                <!-- <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i> -->

                                <h5 class="font-weight-bolder p-2 mb-0" style="color: white;">
                                    <%=millify(data.card12, {locales: "en-IN", space:true,precision:2})%>

                                        <span class="text-success text-sm  font-weight-bolder"
                                            style="font-style: white;"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card 13 -->
        <div class="col-xl-4 col-sm-5   mb-4">
            <div class="card py-4">
                <div class="card-body  ">
                    <div class="row">
                        <div class="col-7 px-2">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold"><%=data.name13%>
                                </p>
                                <h5 class="font-weight-bolder mb-0">

                                    <span class="text-success text-sm font-weight-bolder"></span>
                                </h5>
                            </div>
                        </div>
                        <div class="col text-end mt-2">
                            <div class="bg-gradient-primary shadow text-center border-radius-md">
                                <!-- <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i> -->

                                <h5 class="font-weight-bolder p-2 mb-0" style="color: white;">
                                    <%=millify(data.card13, {locales: "en-IN", space:true,precision:2})%>

                                        <span class="text-success text-sm  font-weight-bolder"
                                            style="font-style: white;"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

  
    </div>

    </div>


</body>


</html>