<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dehaat Consolidated</title>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>

    <div class="container">
        <h1>
            <%= message %>
        </h1>
    <h1>Dehaat Consolidated</h1>
    <form action="/form/<%-routName%>" method="POST">
        <label for="dateOfOnboarding">Date of Onboarding:</label>
        <input type="date" id="dateOfOnboarding" name="dateOfOnboarding" required>

        <label for="apartDistrict">Apart District:</label>
        <input type="text" id="apartDistrict" name="apartDistrict" required>

        <label for="apartBlock">Apart Block:</label>
        <input type="text" id="apartBlock" name="apartBlock" required>

        <label for="village">Village:</label>
        <input type="text" id="village" name="village" required>

        <label for="nameOfFPC">Name of FPC:</label>
        <input type="text" id="nameOfFPC" name="nameOfFPC" required>

        <label for="focusCommodity">Focus Commodity:</label>
        <input type="text" id="focusCommodity" name="focusCommodity" required>

        <label for="detailAddress">Detail Address of FPC/FPO:</label>
        <input type="text" id="detailAddress" name="detailAddress" required>

        <label for="memberMale">Member Male:</label>
        <input type="number" id="memberMale" name="memberMale" required>

        <label for="memberFemale">Member Female:</label>
        <input type="number" id="memberFemale" name="memberFemale" required>

        <label for="totalMembers">Total Members:</label>
        <input type="number" id="totalMembers" name="totalMembers" required>

        <label for="registrationYear">Registration Year:</label>
        <input type="number" id="registrationYear" name="registrationYear" required>

        <label for="cin">Corporate Identification Number (CIN):</label>
        <input type="text" id="cin" name="cin" required>

        <label for="villagesCovered">Nos. of Villages Covered:</label>
        <input type="number" id="villagesCovered" name="villagesCovered" required>

        <label for="valueChains">Value Chains:</label>
        <textarea id="valueChains" name="valueChains" required></textarea>
    

        <input class="submit-btn" type="submit" value="Submit">
    </form>

      <h2>Or Upload Bulk (CSV)</h2>
      <form action="/form/<%-routName%>/bulk" method="POST" enctype="multipart/form-data">
          <input type="file" name="<%-routName.toUpperCase()%>" id="file">
          <input class="submit-btn" type="submit" name="Submit" id="">
      </form>
      <a href="/form/<%-routName%>"> <button class="submit-btn">Download CSV</button></a>
    </div>
</body>
</html>
