<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integra Carbon Credit</title>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>

    <div class="container">
        <h1>
            <%= message %>
        </h1>
    <h1>Integra Carbon Credit</h1>
    <form action="/form/<%-routName%>" method="POST">
        <label for="SlNo">Sl No:</label>
        <input type="number" id="SlNo" name="SlNo" required><br><br>

        <label for="DateOfAgreement">Date of Agreement:</label>
        <input type="date" id="DateOfAgreement" name="DateOfAgreement" required><br><br>

        <label for="TenorOfAgreement">Tenor of Agreement:</label>
        <input type="text" id="TenorOfAgreement" name="TenorOfAgreement" required><br><br>

        <label for="APARTDistrict">APART District:</label>
        <input type="text" id="APARTDistrict" name="APARTDistrict" required><br><br>

        <label for="Block">Block:</label>
        <input type="text" id="Block" name="Block" required><br><br>

        <label for="Village">Village:</label>
        <input type="text" id="Village" name="Village" required><br><br>

        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Name" required><br><br>

        <label for="Phone">Phone:</label>
        <input type="number" id="Phone" name="Phone" required><br><br>

        <label for="UniqueCodeNumber">Unique Code Number:</label>
        <input type="text" id="UniqueCodeNumber" name="UniqueCodeNumber" required><br><br>

        <label for="Gender">Gender:</label>
        <select id="Gender" name="Gender" required>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select><br><br>

        <label for="ValueChain">Value Chain:</label>
        <input type="text" id="ValueChain" name="ValueChain" required><br><br>

        <input class="submit-btn" type="submit" value="Submit">
    </form>

      <h2>Or Upload Bulk (CSV)</h2>
      <form action="/form/<%-routName%>/bulk" method="POST" enctype="multipart/form-data">
          <input type="file" name="<%-routName.toUpperCase()%>" id="file">
          <input class="submit-btn" type="submit" name="Submit" id="">
      </form>
      <a href="/form/<%-routName%>"> <button class="submit-btn">Download CSV</button></a>
    </div>
</body>
</html>
