<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        var employeeInfo = [];
        var resdata = {}
        fetch('/form/data')

            // creates promise to work with response from /api/data
            .then(res => {

                // throws error if there is a problem fetching page
                if (!res.ok) {

                    // returns error with response text of error
                    throw new Error(res.statusText);
                }
                return res.json();

            }).then(data => {

                // creates resdata variable to store JSON data form /api/data
                resdata = data;

                // creates empty employeeInfo array


                // console.log(employeeInfo)
                // console.log(data)
                // console.log("resdata", resdata)
            }).then(() => {
                google.charts.load("current", { packages: ["corechart"] });
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() {
                    employeeInfo.push(['Gender', 'Total'])
                    const arrayDataMale = parseInt(resdata.male)
                    employeeInfo.push(['Male', arrayDataMale])

                    const arrayDataFemale = parseInt(resdata.female)
                    employeeInfo.push(['Female', arrayDataFemale])
                    const ratioFPOData = parseInt(resdata.FPO)
                    console.log("ratio fetch",ratioFPOData)
                    const ratioLoanData = 100-ratioFPOData

                    // console.log(ratioLoanData)

                    var data = google.visualization.arrayToDataTable(
                        employeeInfo);

                    var options = {
                        title: 'No of Beneficiaries',
                        pieHole: 0.5,
                    };

                    var dataInsurance = google.visualization.arrayToDataTable(
                        [["NA", "NA"],["NA",100],["na",0]]);
                    var optionsInsurance = {
                        title: 'Insurance Graph',
                        pieHole: 0.5,
                    };


                    var dataCreditGraph = google.visualization.arrayToDataTable(
                   
                    
                    [["Value of Credit to FPO", "Value of credit to individual farmers"],
                        ["Value of Credit to FPO", ratioFPOData],
                        ["Value of credit to individual farmers",  ratioLoanData]]);

                    var optionsCreditGraph = {
                        title: 'Credit Graph',
                        pieHole: 0.5,
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                    chart.draw(data, options);
                    var chart = new google.visualization.PieChart(document.getElementById('insuranceGraph'));
                    chart.draw(dataInsurance, optionsInsurance);
                    var chart = new google.visualization.PieChart(document.getElementById('creditGraph'));
                    chart.draw(dataCreditGraph, optionsCreditGraph);

                }

                


            })


    </script>
</head>

<body>

    <div id="donutchart" style="width: 900px; height: 500px;"></div>
    <div id="insuranceGraph" style="width: 900px; height: 500px;"></div>
    <div id="creditGraph" style="width: 900px; height: 500px;"></div>
    <h2>Transaction Tile</h2>  
    <h3>   
        NA    
    </H3>
    <h2>Number of FPO Receiving Credit</h2>  
    <h3>   
        <%= countFinancing %>    
    </H3>
    <h2>Value of Credit to FPOs</h2>  
    <h3>   
        <%= sumLoanAmountFPO %>    
    </H3>
    <h2>Number of VLEs receiving credit</h2>  
    <h3>   
        NA  
    </H3>
    <h2>Value of Credit received by VLES</h2>  
    <h3>   
        NA  
    </H3>
    <h2>Number of FIGs receiving credit</h2>  
    <h3>   
        NA  
    </H3>
    <h2>Value of credit to FIGs</h2>  
    <h3>   
        NA  
    </H3>
    <h2>Number of Farmers receiving credit</h2>  
    <h3>   
        <%=financingFarmersCount%>  
    </H3>
    <h2>Value of Credit to farmers</h2>  
    <h3>   
        <%=sumLoanAmount%>  
    </H3>
    <h2>Savings Account</h2>  
    <h3>   
        NA 
    </H3>
    <h2>APY</h2>  
    <h3>   
        NA 
    </H3>
    <h2>Insurance</h2>  
    <h3>   
        <%=insuranceCount%>
    </H3>
    <h2>BC Agents</h2>  
    <h3>   
        NA
    </H3>
    



</body>

</html>