<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link id="pagestyle" href="../assets/css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);

    var male = <%-donut1.male%>
    var female = <%-donut1.female%>
    var nameDonut2 = '<%=donut2.name1%>'
    var name2Donut2 = '<%=donut2.name2%>'
   
    function drawChart() {
      
      var data = google.visualization.arrayToDataTable([
        ['Gender', 'Total'],
        ['Male',     male],
        ['Female',      female],
        
      ]);

      var options = {
        title: 'No of Beneficiaries',
        is3D: false,
        pieHole: 0.3,
        backgroundColor: { fill:'transparent' },
      };

      var dataInsurance = google.visualization.arrayToDataTable([
           [ "NA", "NA"],
           [nameDonut2,<%-donut2.data1%> ],
           [name2Donut2,<%-donut2.data2%> ]  
        ]);
     
      var optionsInsurance = {
        title: 'Insurance Graph',
        is3D: false,
        pieHole: 0.3,
        backgroundColor: { fill:'transparent' },
      };

      var dataCreditGraph = google.visualization.arrayToDataTable(
        [['<%-donut3.name1%>', "<%-donut3.name2%>",],
        ['<%-donut3.name1%>', <%-donut3.data1%>],
        ['<%-donut3.name2%>',  <%-donut3.data2%>]]);

      var optionsCreditGraph = {
        title: 'Credit Graph',
        pieHole: 0.3,
        backgroundColor: { fill:'transparent' },
                    
                };

      var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
      chart.draw(data, options);
      var chart = new google.visualization.PieChart(document.getElementById('insuranceGraph'));
      chart.draw(dataInsurance, optionsInsurance);
      var chart = new google.visualization.PieChart(document.getElementById('creditGraph'));
        chart.draw(dataCreditGraph, optionsCreditGraph);
    }
  </script>
</head>
<<body class=" bg-gray-100 py-5 d-flex align-content-between ">
  <div class="col-4 mx-4  "> 
    <!-- left col -->
      <div class="row g-2 ">
          <div class="card  ">
              <div class="card-body p-3">
                  <div id="donutchart" class= "card-body " style="height: 250px; width: 450px;"  ></div>
                      </div>
          </div>
          <div class="card  " >
              <div class="card-body p-3">
                  <div id="insuranceGraph" class= "card-body " style="height: 250px; width: 450px;"  ></div>
                      </div>
          </div>
          <div class="card  ">
              <div class="card-body p-3">
                  <div id="creditGraph" class= "card-body " style="height: 250px; width: 450px;"  ></div>
                      </div>
          </div>
          <div class="card col 
          "  >
              <div class=" card-body "style="height: 372px;">
              <div class=" col py-6 px-3 " >
                
                <h7 class="py-9"><%=data.name13%> </h7>
                
              </div>
              <div class="bg-gradient-primary shadow text-center border-radius-md " >
                
              
                <h6 class="font-weight-bolder p-2 mb-0 " style="color: white;">
                  <%=data.card13%>

                </h6>
              </div>
              
              </div>
          </div>
          </div>
          
          
      </div>
  
  
  <div class="col me-3 "> 
    <!-- top map -->
    <div class="row  mb-3 " style="height: 282px ">
      <div class="card col d-flex justify-content-center  ">
        <div class=" card-body py-2">
         <div class="object-contain d-flex justify-content-center">
          <img class="img-thumbnail" src="https://thumbs.dreamstime.com/z/assam-map-political-administrative-districts-name-showing-international-state-boundary-district-vector-illustration-218731966.jpg" style="height: 270px;" alt="map">
         </div>
        
        </div>
    </div> 
    <div class="card col mx-2 ">
      <div class=" card-body  py-4">
        <h2 class="font-weight-bolder mb-4">
          Financial Service Offerings
         
       <span class="text-success text-sm font-weight-bolder"></span>
     </h5>
   <h7 class="font-weight-bolder mb-0">
         1. Savings/micro pension
         
       <span class="text-success text-sm font-weight-bolder"></span>
     </h7> <br>
   <h7 class="font-weight-bolder mb-0">
         2. Digitization
         
       <span class="text-success text-sm font-weight-bolder"></span>
     </h7>
      
      </div>
  </div>
    </div>
    <!-- rigth col -->
  <div class="row  mb-2 me-0  align-items-center gap-2 "   >
          <!-- rigth col -->
        
            <div class="card col align-items-between 
              "style="height: 230px;"  >
                  <div class=" card-body ">
                  <div class=" col  py-5 ">
                    
                    <h7><%=data.name1%> </h7>
                    
                  </div>
                  <div class="bg-gradient-primary shadow text-center border-radius-md " >
                    
                  
                    <h6 class="font-weight-bolder p-2 mb-0 " style="color: white;">
                      <%=data.card1%>

                    </h6>
                  </div>
                  
                  </div>
              </div>
            <div class="card col 
              " style="height: 230px;"  >
                  <div class=" card-body ">
                  <div class=" col  py-5 ">
                    
                    <h7><%=data.name2%> </h7>
                    
                  </div>
                  <div class="bg-gradient-primary shadow text-center border-radius-md " >
                    
                  
                    <h6 class="font-weight-bolder p-2 mb-0 " style="color: white;">
                      <%=data.card2%>

                    </h6>
                  </div>
                  
                  </div>
              </div>
            <div class="card col align-items-between 
              "   style="height: 230px;">
                  <div class=" card-body ">
                  <div class=" col  py-5 ">
                    
                    <h7><%=data.name3%> </h7>
                    
                  </div>
                  <div class="bg-gradient-primary shadow text-center border-radius-md " >
                    
                  
                    <h6 class="font-weight-bolder p-2 mb-0 " style="color: white;">
                      <%=data.card3%>

                    </h6>
                  </div>
                  
                  </div>
              </div>
          
        
          
    </div>
  <div class="row  mb-2 me-0  align-items-center gap-2 "   >
          <!-- rigth col -->
        
            <div class="card col align-items-between 
              " style="height: 230px;" >
                  <div class=" card-body ">
                  <div class=" col  py-5 ">
                    
                    <h7><%=data.name4%> </h7>
                    
                  </div>
                  <div class="bg-gradient-primary shadow text-center border-radius-md " >
                    
                  
                    <h6 class="font-weight-bolder p-2 mb-0 " style="color: white;">
                      <%=data.card4%>

                    </h6>
                  </div>
                  
                  </div>
              </div>
            <div class="card col align-items-between 
              " style="height: 230px;" >
                  <div class=" card-body ">
                  <div class=" col  py-5 ">
                    
                    <h7><%=data.name5%> </h7>
                    
                  </div>
                  <div class="bg-gradient-primary shadow text-center border-radius-md " >
                    
                  
                    <h6 class="font-weight-bolder p-2 mb-0 " style="color: white;">
                      <%=data.card5%>

                    </h6>
                  </div>
                  
                  </div>
              </div>
            <div class="card col align-items-between 
              " style="height: 230px;" >
                  <div class=" card-body ">
                  <div class=" col  py-5 ">
                    
                    <h7><%=data.name6%></h7>
                    
                  </div>
                  <div class="bg-gradient-primary shadow text-center border-radius-md " >
                    
                  
                    <h6 class="font-weight-bolder p-2 mb-0 " style="color: white;">
                      <%=data.card6%>

                    </h6>
                  </div>
                  
                  </div>
              </div>
          
        
          
    </div>
  <div class="row  mb-2 me-0  align-items-center gap-2 "   >
          <!-- rigth col -->
        
            <div class="card col align-items-between 
              " style="height: 230px;" >
                  <div class=" card-body ">
                  <div class=" col  py-5 ">
                    
                    <h7><%=data.name7%></h7>
                    
                  </div>
                  <div class="bg-gradient-primary shadow text-center border-radius-md " >
                    
                  
                    <h6 class="font-weight-bolder p-2 mb-0 " style="color: white;">
                      <%=data.card7%>

                    </h6>
                  </div>
                  
                  </div>
              </div>
            <div class="card col align-items-between 
              "  style="height: 230px;">
                  <div class=" card-body ">
                  <div class=" col  py-5 ">
                    
                    <h7><%=data.name8%></h7>
                    
                  </div>
                  <div class="bg-gradient-primary shadow text-center border-radius-md " >
                    
                  
                    <h6 class="font-weight-bolder p-2 mb-0 " style="color: white;">
                      <%=data.card8%>

                    </h6>
                  </div>
                  
                  </div>
              </div>
            <div class="card col align-items-between 
              "  style="height: 230px;">
                  <div class=" card-body ">
                  <div class=" col  py-5 ">
                    
                    <h7><%=data.name9%> </h7>
                    
                  </div>
                  <div class="bg-gradient-primary shadow text-center border-radius-md " >
                    
                  
                    <h6 class="font-weight-bolder p-2 mb-0 " style="color: white;">
                      <%=data.card9%>

                    </h6>
                  </div>
                  
                  </div>
              </div>
          
        
          
    </div>
  <div class="row  mb-2 me-0  align-items-center gap-2 "   >
          <!-- rigth col -->
        
            <div class="card col align-items-between 
              "  style="height: 230px;">
                  <div class=" card-body ">
                  <div class=" col  py-5 ">
                    
                    <h7><%=data.name10%> </h7>
                    
                  </div>
                  <div class="bg-gradient-primary shadow text-center border-radius-md " >
                    
                  
                    <h6 class="font-weight-bolder p-2 mb-0 " style="color: white;">
                      <%=data.card10%>

                    </h6>
                  </div>
                  
                  </div>
              </div>
            <div class="card col align-items-between 
              "  style="height: 230px;">
                  <div class=" card-body ">
                  <div class=" col  py-5 ">
                    
                    <h7><%=data.name11%> </h7>
                    
                  </div>
                  <div class="bg-gradient-primary shadow text-center border-radius-md " >
                    
                  
                    <h6 class="font-weight-bolder p-2 mb-0 " style="color: white;">
                      <%=data.card11%>

                    </h6>
                  </div>
                  
                  </div>
              </div>
            <div class="card col align-items-between 
              "  style="height: 230px;">
                  <div class=" card-body ">
                  <div class=" col  py-5 ">
                    
                    <h7><%=data.name12%> </h7>
                    
                  </div>
                  <div class="bg-gradient-primary shadow text-center border-radius-md " >
                    
                  
                    <h6 class="font-weight-bolder p-2 mb-0 " style="color: white;">
                      <%=data.card12%>

                    </h6>
                  </div>
                  
                  </div>
              </div>
          
        
          
    </div>
    
  
     

  </div>
      
  </div> 
     



</body>
</html>