<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RangDe Potato Procurement</title>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>

    <div class="container">
        <h1>
            <%= message %>
        </h1>
    <h1>RangDe Potato Procurement</h1>
    <form action="/form/<%-routName%>" method="POST">
        <label for="SlNo">Sl No:</label>
    <input type="number" id="SlNo" name="SlNo" required><br><br>

    <label for="DateOfProcurement">Date of Procurement:</label>
    <input type="date" id="DateOfProcurement" name="DateOfProcurement" required><br><br>

    <label for="APARTDistrict">APART District:</label>
    <input type="text" id="APARTDistrict" name="APARTDistrict" required><br><br>

    <label for="APARTBlock">APART Block:</label>
    <input type="text" id="APARTBlock" name="APARTBlock" required><br><br>

    <label for="Village">Village:</label>
    <input type="text" id="Village" name="Village" required><br><br>

    <label for="FarmerName">Farmer Name:</label>
    <input type="text" id="FarmerName" name="FarmerName" required><br><br>

    <label for="Age">Age:</label>
    <input type="number" id="Age" name="Age" required><br><br>

    <label for="Gender">Gender:</label>
    <select id="Gender" name="Gender" required>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select><br><br>

    <label for="NameOfFPOFPC">Name of FPO/FPC:</label>
    <input type="text" id="NameOfFPOFPC" name="NameOfFPOFPC" required><br><br>

    <label for="CIN">CIN (if FPC):</label>
    <input type="text" id="CIN" name="CIN"><br><br>

    <label for="VolumeOfProcurementMT">Volume of Procurement (MT):</label>
    <input type="number" id="VolumeOfProcurementMT" name="VolumeOfProcurementMT" required><br><br>

    <label for="ValueOfProcurement">Value of Procurement:</label>
    <input type="number" id="ValueOfProcurement" name="ValueOfProcurement" required><br><br>

        <input class="submit-btn" type="submit" value="Submit">
    </form>

      <h2>Or Upload Bulk (CSV)</h2>
      <form action="/form/<%-routName%>/bulk" method="POST" enctype="multipart/form-data">
          <input type="file" name="<%-routName.toUpperCase()%>" id="file">
          <input class="submit-btn" type="submit" name="Submit" id="">
      </form>
      <a href="/form/<%-routName%>"> <button class="submit-btn">Download CSV</button></a>
    </div>
</body>
</html>
