<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samunnati Data: Input products</title>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>

    <div class="container">
        <h1>
            <%= message %>
        </h1>
    <h1>Samunnati Data: Input products</h1>
    <form action="/form/<%-routName%>" method="POST">
        <label for="slNo">Serial Number:</label>
        <input type="number" id="slNo" name="slNo" placeholder="Serial Number" required><br><br>
        
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required><br><br>
        
        <label for="APARTDistrict">APART District:</label>
        <input type="text" id="APARTDistrict" name="APARTDistrict" placeholder="APART District" required><br><br>
        
        <label for="APARTBlock">APART Block:</label>
        <input type="text" id="APARTBlock" name="APARTBlock" placeholder="APART Block" required><br><br>
        
        <label for="ownerName">Owner Name:</label>
        <input type="text" id="ownerName" name="ownerName" placeholder="Owner Name" required><br><br>
        
        <label for="baseProductName">Base Product Name:</label>
        <input type="text" id="baseProductName" name="baseProductName" placeholder="Base Product Name" required><br><br>
        
        <label for="productTitle">Product Title:</label>
        <input type="text" id="productTitle" name="productTitle" placeholder="Product Title" required><br><br>
        
        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" name="quantity" placeholder="Quantity" required><br><br>
        
        <label for="mrp">MRP:</label>
        <input type="text" id="mrp" name="mrp" placeholder="MRP" required><br><br>
        
        <label for="salesPerUnit">Sales Per Unit:</label>
        <input type="text" id="pricePerUnit" name="pricePerUnit" placeholder="Price Per Unit" required><br><br>
        <label for="manufacturerLocation">Manufacturer Location:</label>
        <input type="text" id="manufacturerLocation" name="manufacturerLocation" placeholder="Manufacturer Location" required><br><br>

        <input class="submit-btn" type="submit" value="Submit">
    </form>

      <h2>Or Upload Bulk (CSV)</h2>
      <form action="/form/<%-routName%>/bulk" method="POST" enctype="multipart/form-data">
          <input type="file" name="<%-routName.toUpperCase()%>" id="file">
          <input class="submit-btn" type="submit" name="Submit" id="">
      </form>
      <a href="/form/<%-routName%>"> <button class="submit-btn">Download CSV</button></a>
    </div>
</body>
</html>
