<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vimo Insurance</title>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>

    <div class="container">
        <h1>
            <%= message %>
        </h1>
    <h1>Vimo Insurance</h1>
    <form action="/form/<%-routName%>" method="POST">
        <label for="slNo">Sl No:</label>
    <input type="number" id="slNo" name="slNo" required><br><br>

    <label for="dateOfEnrolment">Date of Enrolment:</label>
    <input type="date" id="dateOfEnrolment" name="dateOfEnrolment" required><br><br>

    <label for="apartDistrict">APART District:</label>
    <input type="text" id="apartDistrict" name="apartDistrict" required><br><br>

    <label for="apartBlock">APART Block:</label>
    <input type="text" id="apartBlock" name="apartBlock" required><br><br>

    <label for="village">Village:</label>
    <input type="text" id="village" name="village" required><br><br>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="AadharPhone">Aadhar/Phone number:</label>
    <input type="text" id="AadharPhone" name="AadharPhone" required><br><br>

    <label for="gender">Gender:</label>
    <select id="gender" name="gender" required>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select><br><br>

    <label for="activeOrDormant">Active or Dormant:</label>
    <input type="text" id="activeOrDormant" name="activeOrDormant" required><br><br>

    <label for="firstAvailedInsurance">First Availed Insurance:</label>
    <select id="firstAvailedInsurance" name="firstAvailedInsurance" required>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select><br><br>

        <input class="submit-btn" type="submit" value="Submit">
    </form>

      <h2>Or Upload Bulk (CSV)</h2>
      <form action="/form/<%-routName%>/bulk" method="POST" enctype="multipart/form-data">
          <input type="file" name="<%-routName.toUpperCase()%>" id="file">
          <input class="submit-btn" type="submit" name="Submit" id="">
      </form>
      <a href="/form/<%-routName%>"> <button class="submit-btn">Download CSV</button></a>
    </div>
</body>
</html>
