<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xamhar Grading</title>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>

    <div class="container">
        <h1>
            <%= message %>
        </h1>
    <h1>Xamhar Grading</h1>
    <form action="/form/<%-routName%>" method="POST">
        <label for="SNo">S No:</label>
    <input type="number" id="SNo" name="SNo" required><br><br>

    <label for="FPC">FPC:</label>
    <input type="text" id="FPC" name="FPC" required><br><br>

    <label for="DateOfGrading">Date of Grading:</label>
    <input type="date" id="DateOfGrading" name="DateOfGrading" required><br><br>

    <label for="Grade">Grade:</label>
    <input type="text" id="Grade" name="Grade" required><br><br>

    <label for="GradingScore">Grading Score:</label>
    <input type="text" id="GradingScore" name="GradingScore" required><br><br>

        <input class="submit-btn" type="submit" value="Submit">
    </form>

      <h2>Or Upload Bulk (CSV)</h2>
      <form action="/form/<%-routName%>/bulk" method="POST" enctype="multipart/form-data">
          <input type="file" name="<%-routName.toUpperCase()%>" id="file">
          <input class="submit-btn" type="submit" name="Submit" id="">
      </form>
      <a href="/form/<%-routName%>"> <button class="submit-btn">Download CSV</button></a>
    </div>
</body>
</html>
